
/* ========== Sass Vars            ================= */
$msuLime:#5ca137;
$msuDG:#1d483f;
$msugray:#525053;

body {
  background-color:$msugray;
}

header {
  section {
    // section
    #call-to-action {
      div.row {
        div {
          p {
            font-size:36px;
            color:#fff;
            box-shadow: 5px 5px #000;
          }
        }
      }
    }
    // end call-to-action
    // section
    #site-title {

    }
    // end site-title
    // section
  }
}

.btn {
  padding:15px 35px;
  text-transform: uppercase;
  font-size:18px;
  font-weight:700;
  &.trans {
    // transparent
    background:transparent;
    color:#fff;
    border:3px solid white;
    border-radius: 3px;
  }
  &.grn {
    // lime green color
    background:$msuLime;
    color:;
  }
}
